*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-family: sans-serif; 
    min-height: 100vh;
}
.container{
   height: 500px;
   width: 350px;
}
.up{
    height: 70px;
    background-color: rgb(180, 177, 177);;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    
}
.center{
    font-family: 'Seven Segment', sans-serif; 
    height: 70px;
    width: 250px;
    background-color: black;
    color: green;
    font-size: 40px;
    text-align: right;
    padding: 10px;
}
.bottom{
   width: 250px;
    background-color: rgb(180, 177, 177);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.numbers{
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    background-color: gray;
    width: 40px;
    height: 40px;
    margin: 5px;
    
}
.color-orange{
    background-color: orange;
}
.color-lightgreen{
    background-color: rgb(67, 215, 196);
}
.left{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    
}
.right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.number-0{
    width: 95px;
}